body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 44em;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 140%;
    text-align: justify;
}
pre {
    background-color: #ececec;
    color: #111111;
    padding: 0.5em;
}
code {
    font-family: "Courier New", Courier, monospace;
    font-size: 110%;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
    text-decoration: none;
    color: #0000d0;
}

table.examples {
    border-width: 0pt;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
table.examples tr:nth-child(odd) {
    background-color: #dddddd;
    padding: 1em;
}
table.examples tr:nth-child(even) {
    background-color: #eeeeee;
    padding: 1em;
}
table.examples td {
    padding: 1em;
    text-align: center;
}

img[alt="automaton"]{ float: right; }

h1, h2, h3, h4, h5 { font-family: verdana;
                     font-weight: bold;
                     border-bottom: 1px dotted black;
                     color: #0000d0;
		     margin-left: -2em;
		     padding-left: 2em;
		     margin-right: -2em;
		     padding-right: 2em;
}
h1 {
        font-size: 130%;
}

h2 {
        font-size: 110%;
}

h3 {
        font-size: 95%;
}

h4 {
        font-size: 90%;
        font-style: italic;
}

h5 {
        font-size: 90%;
        font-style: italic;
}

h1.title {
        font-size: 200%;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: left;
        border: none;
}

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

#footer {
        padding-top: 1em;
        font-size: 70%;
        color: gray;
        text-align: center;
        }

#TOC {
	max-width: 30em;
	font-size: 10pt;
	position: fixed;
	right: 0em;
	top: 0em;
	background: #ddddff;
	color: #000000;
	-webkit-box-shadow: 0 0 1em #777777;
	-moz-box-shadow: 0 0 1em #777777;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	text-align: right;
	/* ensure doesn't flow off the screen when expanded */
	max-height: 80%;
	overflow: auto;
}
#TOCTXT  {
	font-size: 10pt;
	font-weight: normal;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.05em;
	padding-bottom: 0.05em;
        text-align: center;
}
#TOC UL  {
	display: none;
	text-align: left;
	padding-left: 1.5em;
}
#TOC:hover ul {
	display: block;
}
