body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 44em;
    color: black;
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    color: #333;
    background-color: #fff;

    text-align: justify;
}
pre {
    background-color: #ececec;
    color: #333;
    padding: 0.5em;
}
pre code {
    color: #333;
    display: block;
}
code {
    white-space: pre;
    background-color: #f9f2f4;
    color: #C7254E;
    padding: 2px 4px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
pre code {
    background-color: inherit;
}
td code {
    background-color: inherit;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    text-decoration: none;
    color: inherit;
}

h1 code, h2 code, h3 code, h4 code, h5 code {
    color: inherit;
}

h1 code, h2 code, h3 code, h4 code, h5 code {
    background-color: #CCEBF4;
}

table.examples {
    border-width: 0pt;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
table.examples tr:nth-child(odd) {
    background-color: #dddddd;
    padding: 1em;
}
table.examples tr:nth-child(even) {
    background-color: #eeeeee;
    padding: 1em;
}
table.examples td {
    padding: 1em;
}
table.examples pre {
    background-color: inherit;
}
table.examples a:link {
    text-decoration: none;
}

img[alt="automaton"]{ float: right; }
img[alt="HOA logo"]{ display: block; margin-left: auto; margin-right: auto; }

h1, h2, h3, h4, h5 {
    font-weight: bold;
    border-bottom: 2px solid #007CA2;
    background-color: #CCEBF4;
    color: #007CA2;
    margin-left: -2em;
    padding-left: 2em;
    margin-right: -2em;
    padding-right: 2em;
}
h1 {
    text-align: center;
    font-size: 200%;
}

h2 {
        font-size: 110%;
}

h3 {
        font-size: 95%;
}

h4 {
        font-size: 90%;
        font-style: italic;
}

h5 {
        font-size: 90%;
        font-style: italic;
}

h1.title {
        font-size: 200%;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: left;
        border: none;
}

a         { color: #009bca; text-decoration: none;}
a:hover   { text-decoration: underline; }
a:visited { color: #73556F; }

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

#footer {
        padding-top: 1em;
        font-size: 70%;
        color: gray;
        text-align: center;
        }

#TOC {
	max-width: 30em;
	font-size: 80%;
	position: fixed;
	right: 0em;
	top: 0em;
	background: #CCEBF4;
	color: #000000;
	-webkit-box-shadow: 0 0 1em #777777;
	-moz-box-shadow: 0 0 1em #777777;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	text-align: right;
	/* ensure it doesn't flow off the screen when expanded */
	max-height: 80%;
	overflow: auto;
	z-index: 2;
}
#TOCTXT  {
	font-size: 10pt;
	font-weight: normal;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.05em;
	padding-bottom: 0.05em;
        text-align: center;
}
#TOC UL  {
	display: none;
	text-align: left;
	padding-left: 1.5em;
}
#TOC:hover ul {
	display: block;
}

#TOC ul code {
    font-size: 80%;
    color: #007CA2;
    background-color: #CCEBF4;
}
