[project]
	description = Hanoi Omega-Automata Format
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexandre Duret-Lutz (adl)
[access "refs/for/refs/*"]
	read = group user/Alexandre Duret-Lutz (adl)
	push = group user/Alexandre Duret-Lutz (adl)
	label-Code-Review = -2..+2 group user/Alexandre Duret-Lutz (adl)
	label-Verified = -1..+1 group user/Alexandre Duret-Lutz (adl)
	rebase = group user/Alexandre Duret-Lutz (adl)
	removeReviewer = group user/Alexandre Duret-Lutz (adl)
	submit = group user/Alexandre Duret-Lutz (adl)
[access "refs/heads/*"]
	read = group user/Alexandre Duret-Lutz (adl)
	create = group user/Alexandre Duret-Lutz (adl)
	push = +force group user/Alexandre Duret-Lutz (adl)
	pushMerge = group user/Alexandre Duret-Lutz (adl)
[access "refs/tags/*"]
	push = +force group user/Alexandre Duret-Lutz (adl)
	pushTag = group user/Alexandre Duret-Lutz (adl)
	pushSignedTag = group user/Alexandre Duret-Lutz (adl)
